<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
		</handlers>

		<security>
			<authentication>
				<anonymousAuthentication enabled="true" />
				<basicAuthentication enabled="false" />
				<windowsAuthentication enabled="false" />
			</authentication>
		</security>

		<aspNetCore processPath=".\OneVision.dll" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess"/>
	</system.webServer>

</configuration>
