@{
    ViewData["Title"] = "Visión";
}
<h1>@ViewData["Title"]</h1>

<p style="line-height: 1.8;">
    Detección y tratamiento de enfermedades de los ojos, surtido de receta, lentes oftálmicos y más...<br><br>
    ¡Oftalmología y optometría trabajando juntos por tu salud visual!
</p>

